################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GameVault/FileContentIndex
# Visual Studio cache
.vs/

# Build results
bin/
obj/
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build logs
*.log
*.tlog

# NuGet packages
*.nupkg
packages/

# Publish output
publish/
wwwroot/
