<div class="d-flex flex-center flex-column flex-lg-row-fluid">
    <div class="w-lg-500px p-10">
        <div class="text-center">
            <h1 class="text-gray-900 fw-bolder mb-3">Password Reset Successful</h1>
            <div class="text-gray-500 fw-semibold fs-6 mb-8">
                Your password has been successfully reset.
                You can now sign in with your new password.
            </div>
            <a asp-controller="Account" asp-action="Login" class="btn btn-primary">
                Sign In
            </a>
        </div>
    </div>
</div>