@using GameVault.BLL.ModelVM.Account
@model ResetPassword

<div class="d-flex flex-center flex-column flex-lg-row-fluid">
    <!--begin::Wrapper-->
    <div class="w-lg-500px p-10">
        <!--begin::Form-->
        <form asp-controller="Account" asp-action="ResetPassword" class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" id="kt_new_password_form">
            <!--begin::Heading-->
            <div class="text-center mb-10">
                <!--begin::Title-->
                <h1 class="text-gray-900 fw-bolder mb-3">
                    Setup New Password
                </h1>
                <!--end::Title-->
                <!--begin::Link-->
                <div class="text-gray-500 fw-semibold fs-6">
                    Have you already reset the password ?
                    <a asp-controller="Account" asp-action="Login" class="link-primary fw-bold">
                        Sign in
                    </a>
                </div>
                <!--end::Link-->
            </div>
            <!--begin::Heading-->
            <!--begin::Hidden fields for Email and Token-->
            <input asp-for="Email" type="hidden" />
            <input asp-for="Token" type="hidden" />
            <!--end::Hidden fields-->
            <!--begin::Validation Summary-->
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <!--end::Validation Summary-->
            <!--begin::Input group-->
            <div class="fv-row mb-8 fv-plugins-icon-container" data-kt-password-meter="true">
                <!--begin::Wrapper-->
                <div class="mb-1">
                    <!--begin::Input wrapper-->
                    <div class="position-relative mb-3">
                        <input asp-for="Password" class="form-control bg-transparent" type="password" placeholder="Password" autocomplete="off">
                        <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                            <i class="ki-duotone ki-eye-slash fs-2"></i>
                            <i class="ki-duotone ki-eye fs-2 d-none"></i>
                        </span>
                    </div>
                    <!--end::Input wrapper-->
                    <!--begin::Meter-->
                    <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                    </div>
                    <!--end::Meter-->
                </div>
                <!--end::Wrapper-->
                <!--begin::Hint-->
                <div class="text-muted">
                    Use 8 or more characters with a mix of letters, numbers &amp; symbols.
                </div>
                <!--end::Hint-->
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <!--end::Input group--->
            <!--begin::Input group--->
            <div class="fv-row mb-8 fv-plugins-icon-container">
                <!--begin::Repeat Password-->
                <input asp-for="ConfirmPassword" type="password" placeholder="Repeat Password" autocomplete="off" class="form-control bg-transparent">
                <!--end::Repeat Password-->
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <!--end::Input group--->
            <!--begin::Action-->
            <div class="d-grid mb-10">
                <button type="submit" id="kt_new_password_submit" class="btn btn-primary">
                    <!--begin::Indicator label-->
                    <span class="indicator-label">
                        Submit
                    </span>
                    <!--end::Indicator label-->
                    <!--begin::Indicator progress-->
                    <span class="indicator-progress">
                        Please wait...    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                    <!--end::Indicator progress-->
                </button>
            </div>
            <!--end::Action-->
        </form>
        <!--end::Form-->
    </div>
    <!--end::Wrapper-->
</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/validation-styling.js"></script>
}