@model GameVault.BLL.ModelVM.Review.ReviewDTO
@*
*@
@{
    ViewData["Title"] = "Update Review";
}
<h2>Update Review</h2>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}



<form>
    <input type="hidden" asp-for="Review_Id" />

    <div class="mb-3">
        <label asp-for="CreatedBy" class="form-label"></label>
        <input asp-for="CreatedBy" id="CreatedBy" class="form-control" placeholder="Enter the reviewer Name" required />
        <span asp-validation-for="CreatedBy" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Player_Id" class="form-label"></label>
        <input asp-for="Player_Id" id="Player_Id" class="form-control" placeholder="Enter the reviewer id" required />
        <span asp-validation-for="Player_Id" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Game_Id" class="form-label"></label>
        <input asp-for="Game_Id" id="Game_Id" class="form-control" placeholder="Enter game id" required />
        <span asp-validation-for="Game_Id" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Rating" class="form-label"></label>
        <input asp-for="Rating" id="Rating" class="form-control" placeholder="Enter the updated rate" required />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Comment" class="form-label"></label>
        <textarea asp-for="Comment" id="Comment" class="form-control" rows="4" placeholder="Enter the updated comment" required></textarea>
		<span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <button type="submit" id="formSubmit" class="btn btn-success">Update</button>
    <a asp-action="GetAllReviews" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    document.getElementById('formSubmit').addEventListener('click', async function (e) {
        e.preventDefault();
        try {
            const response = await fetch('http://localhost:44341/Review/UpdateReview', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify
				({
					Review_Id: @Model.Review_Id,
                    Player_Id: document.getElementById('Player_Id').value,
                    Game_Id: document.getElementById('Game_Id').value,
                    Rating: document.getElementById('Rating').value,
                    Comment: document.getElementById('Comment').value,
					CreatedBy: document.getElementById('CreatedBy').value

                }),
            });
                        const updatedReview = await response.json();
            if (!response.ok) throw new Error("Failed to update Review");
            console.log("Updated Review:", updatedReview);
            window.location.href = '/Review/GetAllReviews';
        } catch (error) {
            console.error("Update Error:", error);
        }
    });
</script>
