@{
    Layout = null;
    ViewBag.Title = "App Manager";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - GameVault</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <link rel="icon" href="~/assets/img/kaiadmin/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <!-- Fonts and icons -->
    <script src="~/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
          google: { families: ["Public Sans:300,400,500,600,700"] },
          custom: {
            families: [
              "Font Awesome 5 Solid",
              "Font Awesome 5 Regular",
              "Font Awesome 5 Brands",
              "simple-line-icons",
            ],
            urls: ["~/assets/css/fonts.min.css"],
          },
          active: function () {
            sessionStorage.fonts = true;
          },
        });
    </script>

    <!-- CSS Files in Optimized Order -->
    <!-- 1. Base Framework -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />

    <!-- 2. Plugin Framework First (lower priority) -->
    <link rel="stylesheet" href="~/Plugin/css/plugins.bundle.css" type="text/css" />
    <link rel="stylesheet" href="~/Plugin/css/style.bundle.css" type="text/css" />

    <!-- 3. KaiAdmin CSS (higher priority to override Plugin conflicts) -->
    <link rel="stylesheet" href="~/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="~/assets/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />

    <!-- 4. Additional Libraries -->
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />

    <!-- 5. Custom CSS with Layout Protection (HIGHEST PRIORITY) -->
    <!-- Your Custom CSS Last -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <a class="dropdown-item d-flex justify-content-between"
                                   href="@Url.Action("SetLanguage", "Home", new {
                                                  culture = "en-US",
                                                  returnUrl = Context.Request.Path + Context.Request.QueryString
                                              })">
                                    <img src="~/lib/famfamfam-flags/dist/png/us.png" width="25" height="15" class="mt-1" />
                                    <span>English</span>
                                </a>
                                <a class="dropdown-item d-flex justify-content-between"
                                   href="@Url.Action("SetLanguage", "Home", new {
                                                  culture = "ar-EG",
                                                  returnUrl = Context.Request.Path + Context.Request.QueryString
                                              })">
                                    <img src="~/lib/famfamfam-flags/dist/png/eg.png" width="25" height="15" class="mt-1" />
                                    <span>Arabic</span>
                                </a>


    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <!--begin::Theme mode setup on page load-->
    <script>var defaultThemeMode = "light"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if (localStorage.getItem("data-theme") !== null) { themeMode = localStorage.getItem("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }</script>
    <!--end::Theme mode setup on page load-->
    <div class="wrapper">
        <!-- Sidebar -->
        <partial name="_AdminAside" />

        <!-- Main Panel -->
        <div class="main-panel">
            <!-- Header -->
            <partial name="_AdminHeader" />

            <!-- Page Content -->
            <div class="container">
                <div class="page-inner">
                    @RenderBody()
                </div>
            </div>

            <!-- Footer -->
            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <nav class="pull-left">
                        <ul class="nav">                     
                            <li class="nav-item">
                                <a class="nav-link" href="#">Help</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Licenses</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        2024, made with <i class="fa fa-heart heart text-danger"></i> by
                        <a href="http://www.themekita.com">ThemeKita</a>
                    </div>
                    <div>
                        Distributed by <a target="_blank" href="https://themewagon.com/">ThemeWagon</a>.
                    </div>
                </div>
            </footer>
        </div>

        <!-- Custom Settings Template -->
        <div class="custom-template">
            <div class="title">Settings</div>
            <div class="custom-content">
                <div class="switcher">
                    <div class="switch-block">
                        <h4>Logo Header</h4>
                        <div class="btnSwitch">
                            <button type="button" class="selected changeLogoHeaderColor" data-color="dark"><i class="gg-check"></i></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="blue"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="purple"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="green"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="orange"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="red"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="white"></button>
                            <br>
                            <button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="green2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="red2"></button>
                        </div>
                    </div>
                    <div class="switch-block">
                        <h4>Navbar Header</h4>
                        <div class="btnSwitch">
                            <button type="button" class="changeTopBarColor" data-color="dark"></button>
                            <button type="button" class="changeTopBarColor" data-color="blue"></button>
                            <button type="button" class="changeTopBarColor" data-color="purple"></button>
                            <button type="button" class="changeTopBarColor" data-color="light-blue"></button>
                            <button type="button" class="changeTopBarColor" data-color="green"></button>
                            <button type="button" class="changeTopBarColor" data-color="orange"></button>
                            <button type="button" class="changeTopBarColor" data-color="red"></button>
                            <button type="button" class="selected changeTopBarColor" data-color="white"><i class="gg-check"></i></button>
                            <br>
                            <button type="button" class="changeTopBarColor" data-color="dark2"></button>
                            <button type="button" class="changeTopBarColor" data-color="blue2"></button>
                            <button type="button" class="changeTopBarColor" data-color="purple2"></button>
                            <button type="button" class="changeTopBarColor" data-color="light-blue2"></button>
                            <button type="button" class="changeTopBarColor" data-color="green2"></button>
                            <button type="button" class="changeTopBarColor" data-color="orange2"></button>
                            <button type="button" class="changeTopBarColor" data-color="red2"></button>
                        </div>
                    </div>
                    <div class="switch-block">
                        <h4>Sidebar</h4>
                        <div class="btnSwitch">
                            <button type="button" class="changeSideBarColor" data-color="white"></button>
                            <button type="button" class="selected changeSideBarColor" data-color="dark"><i class="gg-check"></i></button>
                            <button type="button" class="changeSideBarColor" data-color="dark2"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-toggle">
                <i class="icon-settings"></i>
            </div>
        </div>
    </div>

    // <!-- Core JS Files - Load jQuery First -->
    // <script src="~/assets/js/core/jquery-3.7.1.min.js"></script>
    // <script src="~/assets/js/core/popper.min.js"></script>
    // <script src="~/assets/js/core/bootstrap.min.js"></script>

    // <!-- Additional Plugin JS -->
    // <script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    // <script src="~/assets/js/plugin/chart.js/chart.min.js"></script>
    // <script src="~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    // <script src="~/assets/js/plugin/chart-circle/circles.min.js"></script>
    // <script src="~/assets/js/plugin/datatables/datatables.min.js"></script>
    // <script src="~/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    // <script src="~/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    // <script src="~/assets/js/plugin/jsvectormap/world.js"></script>
    // <script src="~/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    // <!-- KaiAdmin Core -->
    // <script src="~/assets/js/kaiadmin.min.js"></script>
    // <script src="~/assets/js/setting-demo.js"></script>
    // <script src="~/assets/js/demo.js"></script>

    // <!-- Plugin JS -->
    // <script>var hostUrl = "~/Plugin/";</script>
    // <script src="~/Plugin/js/plugins.bundle.js"></script>
    // <script src="~/Plugin/js/scripts.bundle.js"></script>

    // <!-- Additional Libraries -->
    // <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    // <script src="~/js/validation-styling.js"></script>
    // <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Plugins", required: false)

    <!-- Charts Initialization Script -->
    <script>
        $(document).ready(function() {
            // Initialize Bootstrap components
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });

            // Initialize dropdowns
            var dropdownElementList = [].slice.call(document.querySelectorAll('[data-bs-toggle="dropdown"]'));
            var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
                return new bootstrap.Dropdown(dropdownToggleEl);
            });

            // Chart initialization
            if ($("#lineChart").length) {
                $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
                  type: "line",
                  height: "70",
                  width: "100%",
                  lineWidth: "2",
                  lineColor: "#177dff",
                  fillColor: "rgba(23, 125, 255, 0.14)",
                });
            }

            if ($("#lineChart2").length) {
                $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
                  type: "line",
                  height: "70",
                  width: "100%",
                  lineWidth: "2",
                  lineColor: "#f3545d",
                  fillColor: "rgba(243, 84, 93, .14)",
                });
            }

            if ($("#lineChart3").length) {
                $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
                  type: "line",
                  height: "70",
                  width: "100%",
                  lineWidth: "2",
                  lineColor: "#ffa534",
                  fillColor: "rgba(255, 165, 52, .14)",
                });
            }

            $('.nav-search form').on('submit', function(e) {
                var searchTerm = $(this).find('input[name="searchTerm"]').val().trim();
                if (!searchTerm) {
                    e.preventDefault();
                    return false;
                }
            });

          
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>